<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email.capitalize %> wants you to check out a link!</h1>
    <p>Follow the link here: <%= @link %></p>
    <br><br />
    <p>Regards,</p>
    <br />
    <h5>URLockbox</h5>
  </body>
</html>
