<center>
  <div class="container">
    <div id="header">
      <h1><strong><em>URLockbox</em></strong></h1>
    </div>

    <div class="well" id="linkWell">
      <form class="form-inline" id="newLink">
        <div class="form-group">
          <label for="titleField">Title</label>
          <input class="form-control" type="text" id="titleField" name="title" placeholder="Link Title">
        </div>

        <div class="form-group">
          <label for="urlField">URL</label>
          <input class="form-control" type="text" id="urlField" name="url" placeholder="URL">
        </div>

        <button type="submit" id="submitLink" class="btn btn-primary">Add Link</button>
      </form>
    </div>

    <div class="well" id="filterWell">
      <ul>
        <li class="form-inline" id="searchForm">
          <input class="form-control" type="text" id="searchField" name="search" placeholder="Search for links...">
        </li>

        <li class="btn-group" role="group" aria-label="..." id="filterButtons">
          <button type="button" class="btn btn-default" id="showAll">Show All</button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="" role="button" id="showRead">Read</a></li>
              <li><a href="" role="button" id="showUnread">Unread</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="links"></div>
      <table class="table table-hover" id="linksTable">
        <thead>
          <tr>
            <th><h4>Title</h4></th>
            <th><h4>URL</h4></th>
            <th><h4>Read Status</h4></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
  </div>
</center>
